@import "../bourbon/bourbon";
* {
    box-sizing: border-box;
}
.center {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}
.col {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(flex-start);
}

button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-size: 2em;
    border-radius: 3px;
    background-color: #c9c9c9;
    box-shadow: 3px 3px 5px #848484;
    cursor: pointer;
}

h3 {
    margin-bottom: 5px;
    margin-top: -5px;
}

html, body, .center {
    height: 100%;
}
