---
title: Resume
h1: Education
semesters:
    -
        where: "Spring 2015: UT Austin"
        subtext: "Currently Enrolled: Semester Four"
        classes:
            - "CS 109, Robert Dickerson, Computer Programming: Javascript"
            - "CS 331H, Vijaya Ramachandran, Algorithms and Complexity: Honors"
            - "CS 343H, Peter Stone, Artificial Intelligence: Honors"
            - "M 362K, Kathimathi Sathasivan, Probability I"
            - "M 373K, Travis Schedler, Algebraic Structures I"
    -
        where: "Fall 2014: UT Austin"
        subtext: "Semester Three"
        classes:
            - "CC 301, Adam Rabinowitz, Introduction to Ancient Greece"
            - "CS 439H, Ahmed Gheith, Honors Principles of Computer Systems"
            - "M 328K, Jennifer Mann, Introduction to Number Theory"
            - "M 365C, Luis Caffarelli, Real Analysis I"
---

<table>
{% assign row = 1 %}
{% for semester in page.semesters %}
{% if row == 1%}<tr>{% endif %}<td>
{% include h3.html title=semester.where %}
{{ semester.subtext }}{{ row }}
{% include classes.html classes=semester.classes %}
</td>{% if row == -1 %}</tr>{% endif %}
{% assign row = row | times: -1 %}
{% endfor %}
<tr><td>
{% include h3.html title="Spring 2014: UT Austin" %}
Semester Two
<ul>
<li><b>CC 303</b> (Jamie Aprile)<br />
Introduction to Classical Mythology</li>
<li><b>CS 429H</b> (Emmett Witchel)<br />
Honors Computer Architecture</li>
<li><b>M 340L</b> (Maria Caputo)<br />
Introduction to Linear Algebra</li>
<li><b>M 427K-H</b> (Dan Knopf)<br />
Advanced Calculus with Applications I</li>
</ul>
</td><td>
{% include h3.html title="Fall 2013: UT Austin" %}
Semester One
<ul>
<li><b>CS 311H</b> (Peter Stone)<br />
Discrete Mathematics for CS</li>
<li><b>CS 314H</b> (Calvin Lin)<br />
Data Structures</li>
<li><b>M 427L-AP</b> (John Gilbert)<br />
Advanced Calculus with Applications II</li>
<li><b>UGS 302</b> (Jason Urban)<br />
Print in the Digital Age</li>
</ul>
</td></tr>
</table>

