---
title: Resume
h1: Education
semesters:
    -
        where: "Fall 2016: UT Austin"
        subtext: "Currently Enrolled: Semester Seven"
        classes:
            - "CS 346, Brent Waters, Cryptography"
            - "CS 356, David Bryan, Computer Networks"
            - "CS 378H, Etienne Vouga, Computer Graphics: Honors"
            - "M 361, David Clark, Theory of Functions of a Complex Variable"
    -
        where: "Spring 2016: UT Austin"
        subtext: "Semester Six"
        classes:
            - "CC 340, Adam Rabinowitz, Food/Health/Culture in the Ancient Mediterranean"
            - "CS 378H, Lorenzo Alvisi, Distributed Systems: Honors"
            - "M 373L, Sean Keel, Algebraic Structures II"
    -
        where: "Fall 2015: UT Austin"
        subtext: "Semester Five"
        classes:
            - "CS 345H, Tom Dillig, Programming Languages: Honors"
            - "CS 378H, Kristen Grauman, Machine Learning and Vision: Honors"
            - "M 367K, Michael Starbird, Topology I"
    -
        where: "Spring 2015: UT Austin"
        subtext: "Semester Four"
        classes:
            - "CS 109, Robert Dickerson, Computer Programming: Javascript"
            - "CS 331H, Vijaya Ramachandran, Algorithms and Complexity: Honors"
            - "CS 343H, Peter Stone, Artificial Intelligence: Honors"
            - "M 362K, Kathimathi Sathasivan, Probability I"
            - "M 373K, Travis Schedler, Algebraic Structures I"
    -
        where: "Fall 2014: UT Austin"
        subtext: "Semester Three"
        classes:
            - "CC 301, Adam Rabinowitz, Introduction to Ancient Greece"
            - "CS 439H, Ahmed Gheith, Honors Principles of Computer Systems"
            - "M 328K, Jennifer Mann, Introduction to Number Theory"
            - "M 365C, Luis Caffarelli, Real Analysis I"
    -
        where: "Spring 2014: UT Austin"
        subtext: "Semester Two"
        classes:
            - "CC 303, Jamie Aprile, Introduction to Classical Mythology"
            - "CS 429H, Emmett Witchel, Honors Computer Architecture"
            - "M 340L, Maria Caputo, Introduction to Linear Algebra"
            - "M 427K-H, Dan Knopf, Advanced Calculus with Applications I"
    -
        where: "Fall 2013: UT Austin"
        subtext: "Semester One"
        classes:
            - "CS 311H, Peter Stone, Discrete Mathematics for CS"
            - "CS 314H, Calvin Lin, Data Structures"
            - "M 427L-AP, John Gilbert, Advanced Calculus with Applications II"
            - "UGS 302, Jason Urban, Print in the Digital Age"
---

<table>
{% assign row = 1 %}
{% for semester in page.semesters %}
{% if row == 1%}<tr>{% endif %}<td>
{% include h3.html title=semester.where %}
{{ semester.subtext }}
{% include classes.html classes=semester.classes %}
</td>{% if row == -1 %}</tr>{% endif %}
{% assign row = row | times: -1 %}
{% endfor %}
</table>

