---
title: Resume
h1: Education
---

<table>
<tr><td>
{% include h3.html title="Spring 2015: UT Austin" %}
Currently Enrolled: Semester Four
<ul>
<li>A class<br />.</li>
<li>Another class<br />.</li>
<li>Dude, classes<br />.</li>
<li>Yes I am gonna change this<br />.</li>
</ul>
</td><td>
{% include h3.html title="Fall 2014: UT Austin" %}
Semester Three
<ul>
<li><b>CC 301</b> (Adam Rabinowitz)<br />
Introduction to Ancient Greece</li>
<li><b>CS 439H</b> (Ahmed Gheith)<br />
Honors Principles of Computer Systems</li>
<li><b>M 328K</b> (Jennifer Mann)<br />
Introduction to Number Theory</li>
<li><b>M 365C</b> (Luis Caffarelli)<br />
Real Analysis I</li>
</ul>
</td></tr>
<tr><td>
{% include h3.html title="Spring 2014: UT Austin" %}
Semester Two
<ul>
<li><b>CC 303</b> (Jamie Aprile)<br />
Introduction to Classical Mythology</li>
<li><b>CS 429H</b> (Emmett Witchel)<br />
Honors Computer Architecture</li>
<li><b>M 340L</b> (Maria Caputo)<br />
Introduction to Linear Algebra</li>
<li><b>M 427K-H</b> (Dan Knopf)<br />
Advanced Calculus with Applications I</li>
</ul>
</td><td>
{% include h3.html title="Fall 2013: UT Austin" %}
Semester One
<ul>
<li><b>CS 311H</b> (Peter Stone)<br />
Discrete Mathematics for CS</li>
<li><b>CS 314H</b> (Calvin Lin)<br />
Data Structures</li>
<li><b>M 427L-AP</b> (John Gilbert)<br />
Advanced Calculus with Applications II</li>
<li><b>UGS 302</b> (Jason Urban)<br />
Print in the Digital Age</li>
</ul>
</td></tr>
</table>

